<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle><strong><u>Datos del Usuario</u></strong></ion-card-subtitle>
      <ion-grid *ngFor="let ds of datosU">
        <ion-row>
          <ion-col size="5">{{ds.title}}</ion-col>
          <ion-col size="7">{{ds.description}}</ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col size="6">Apellido</ion-col>
          <ion-col size="6">Lukes</ion-col>
        </ion-row>
        <ion-row>
        <ion-col size="6">Email</ion-col>
        <ion-col size="6">andreaslukes94@gmail.com</ion-col>
        </ion-row>
        <ion-row>
        <ion-col size="6">Telefono</ion-col>
        <ion-col size="6">555555555</ion-col>
        </ion-row>
        <ion-row>
        <ion-col size="6">Dirección</ion-col>
        <ion-col size="6">Av. America</ion-col>
        </ion-row>
        <ion-row>
        <ion-col size="6">Mi Agente</ion-col>
        <ion-col size="6">Pablo</ion-col>
        </ion-row> -->
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>