<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>
        <ion-card-subtitle>Busquedas Guardadas</ion-card-subtitle>
      </ion-label>
    </ion-item-divider>
    <ion-button (click)="cardClick()">
      Crear búsqueda guardada
    </ion-button>
  </ion-item-group>
</ion-content>
