<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vistos Recientemente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card align="center">
    <img src="assets/img/lupaMaps.jpg">
    <ion-card-title>No hay propiedades vistas recientemente</ion-card-title>
    <p>actualmente no tiene propiedades vistas recientemente en su cuenta</p>
    <ion-button color="danger">
        <ion-icon slot="end" name="search"></ion-icon>
      Listado de Busquedas
    </ion-button>
  </ion-card>
</ion-content>
