<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card align="center">
    <img src="assets/img/oficinas.png">
    <ion-card-title>Refina tu búsqueda de Oficinas</ion-card-title>
    <p>Las oficinas RE / MAX® guardadas están en su área. Ingrese una ubicación para encontrar una oficina cerca de usted</p>
  </ion-card>
</ion-content>
