<ion-header>
  <ion-toolbar color="tertiary"> 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card align="center">
    <img src="assets/img/descarga.png">
    <ion-card-title>Refina tu búsqueda de agentes</ion-card-title>
    <p>Conéctese con un profesional de Re / Max® para que lo guíe a través del proceso de compra o venta de una casa</p>
  </ion-card>
</ion-content>
