<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar translucent color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list >
        <ion-menu-toggle auto-hide="false" *ngFor="let m of menu">
          <ion-item [routerLink]="m.url">
            <ion-icon name="{{m.icon}}" slot="start"></ion-icon>
            <ion-label>{{m.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
