<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Terminos de Uso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-text>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       Nam rutrum justo massa, maximus elementum leo dignissim ac.
       Vestibulum eleifend lorem nec neque interdum varius.
       Sed in neque at nibh congue tincidunt.
       Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
       Suspendisse potenti.
       Donec magna odio, semper ac nibh et, vestibulum eleifend felis. Donec pulvinar ex non quam vulputate malesuada in a magna. Praesent massa arcu, vehicula id pharetra et, cursus at lectus.</p>
     </ion-text>
  </ion-card>
</ion-content>
