<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Lugares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/img/add.png" height="150px" width="150px" style="margin-left: 100px;">
      <ion-card-title align="center">No Mis Lugares</ion-card-title>
      <p align="center">agregue ubicaciones importantes para ver los tiempos de conducción de las propiedades que le
        interesan</p>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="danger" style="margin-left: 80px;" (click)="onclick()">
        <ion-icon slot="start" name="add-circle"></ion-icon>
        agregar lugares
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>