<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Propiedades Favoritas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card align="center">
  <img src="assets/img/favoritos.png">
  <ion-card-title>Sin Favoritos</ion-card-title>
  <p>Casas favoritas para mantenerse al día con el cambio de estado, actualización de precios y más</p>
  <ion-button color="danger">
      <ion-icon slot="end" name="search"></ion-icon>
    Listado de Busquedas
  </ion-button>
</ion-card>
</ion-content>
