<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/img/logo.png">
      <ion-card-title>INICIO DE SESIÓN</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none" class="email">
        <ion-label position="floating">Correo:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item lines="none" class="pass">
        <ion-label position="floating">Contraseña:</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-button color="danger" expand="block">Entrar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>