* {
    margin: 0px;
    padding: 0px;
}

ion-card {
    
    // margin-top: 5%;
    height: 100%;
    --background: url("/assets/img/fondo_login.jpg");
    background-size: cover;
    

    ion-card-title {
        
        position: relative;
        left: 25%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
        top: 25px;
    }
        ion-card-content{
            margin-top: 80px;
        }

    .pass{
        margin-top: 5%;
    }

    ion-button{
        margin-top: 10%;
    }

    ion-item{
        margin-top: 5%;
        --background: transparent;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
