<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mis-lugares"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar lugares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label position="floating">Nombre del lugar</ion-label>
  <ion-input ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Dirección</ion-label>
  <ion-input ></ion-input>
</ion-item>
<ion-item>
  <ion-label >Establecer el tiempo de conducción</ion-label>
  <ion-toggle slot="end" name="blueberry" ></ion-toggle>
</ion-item>
</ion-content>
